body {
    padding: 10px
}

.btn {
    margin: 10px
}

.message {
    text-align: center;
}

input {
    margin: 5px
}

a {
    margin: 4px;
    text-decoration: none;
    color: blue;

}

h3{
    color: green;
}